<a href="https://colab.research.google.com/github/matthewg1234/Practice/blob/master/Group_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql
%sql sqlite:///petshop.d

'Connected: @petshop.d'

In [ ]:
%%sql  
DROP TABLE IF EXISTS Address;
create table Address (StreetAddress text PRIMARY KEY, City text, State text, Zipcode integer);

DROP table IF EXISTS Customer;
create table Customer (CustomerID text PRIMARY KEY, FirstName text, LastName text, Address text);

DROP table IF EXISTS Items;
create table Items (ItemID text PRIMARY KEY, Cost real, StoreName text, Quantity integer);

DROP table IF EXISTS Trip;
create table Trip (TripID text PRIMARY KEY, Distance integer, Time integer, Gas integer, TransactionID text, CustomerID text, LicenseID text, ItemID text);

DROP table IF EXISTS Payment;
create table Payment (TransactionID text PRIMARY KEY, PaymentType text, CardNumber integer, Tips integer);

DROP table IF EXISTS Driver;
create table Driver (LicenseID text PRIMARY KEY, FirstName text, LastName text, Car text, PhoneNumber text);

DROP table IF EXISTS Car;
create table Car (PlateID text PRIMARY KEY, Model text, Color text, Brand text);

 * sqlite:///petshop.d
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
insert into Trip values("0001", 20, 10, 2, "3842", "1234", "1234678", "3849");
insert into Trip values("0002", 10, 5, 1, "2849", "5462", "23456789", "1569");
insert into Trip values("0003", 25, 13, 4, "8953", "2562", "29304718", "2483");
insert into Trip values("0004", 15, 8, 3, "2942", "8654", "46274829", "7531");
insert into Trip values("0005", 15, 7, 3, "9236", "6832", "93526374", "2584");

insert into Payment values("3842", "cash", 0, 5);
insert into Payment values("2849", "card", 9378837283212834, 5);
insert into Payment values("8953", "card", 2948126383828348, 5);
insert into Payment values("2942", "cash", 0, 5);
insert into Payment values("9236", "card", 2389423787823873, 5);

insert into Items values("3849", 3.89, "Walmart", 5);
insert into Items values("1569", 32.49, "Target", 1);
insert into Items values("2493", 83.43, "Sam's Club", 8);
insert into Items values("7531", 5.86, "Kmart", 1);
insert into Items values("2584", 54.23, "Costco", 2);

 * sqlite:///petshop.d
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into Address values('443 NE. Thorne Dr.', 'Grand Island', 'PA', 68801);
insert into Address values('9189 Sugar Street', 'Irwin', 'PA', 15642);
insert into Address values('53 Lilac St.', 'Whitestone', 'PA', 11357);
insert into Address values('49 Peninsula Court','Corpus Christi', 'PA', 78418);
insert into Address values('980 South Military St.', 'Bozeman', 'PA', 59715);

insert into Customer values('1234', 'Matthew', 'Genova', '443 NE. Thorne Dr. Grand Island PA 68801');
insert into Customer values('5462', 'Bridget', 'Doherty', '9189 Sugar Street Irwin PA 15642');
insert into Customer values('2562', 'Nate', 'Fedornock','53 Lilac St. Whitestone PA 11357');
insert into Customer values ('8654', 'Bill', 'Jobs', '49 Peninsula Court Corpus Christi PA 78418');
insert into Customer values ('6832', 'Steve', 'Gates', '980 South Military St. Bozeman PA 59715');

 * sqlite:///petshop.d
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into Driver values('1234678', 'John', 'Doe', '8080808 Mustang green Ford','123-456-7890');
insert into Driver values('23456789', 'Hannah', 'Kern', '1234567 Town & Country silver Chrysler','234-567-8901');
insert into Driver values('29304718', 'Jane', 'Smith', '9999999 Corolla white Toyota', '215-394-0394');
insert into Driver values('46274829', 'Brittany', 'Deitch', '3627364 Wrangler white Jeep','267-392-4056');
insert into Driver values('93526374', 'Noah', 'Morris', '6626374 Pilot navy Honda','610-382-9808');

insert into Car values('8080808', 'Mustang', 'green', 'Ford');
insert into Car values('1234567', 'Town & Country', 'silver', 'Chrysler');
insert into Car values('9999999', 'Corolla', 'white', 'Toyota');
insert into Car values('3627364', 'Wrangler', 'white', 'Jeep');
insert into Car values('6626374', 'Pilot', 'navy', 'Honda');

 * sqlite:///petshop.d
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

How many drivers drive white cars.

In [ ]:
%%sql
SELECT COUNT(color) from Car WHERE color = "white";

 * sqlite:///petshop.d
Done.

[(2,)]

This question is important, because we want to be able to identify the cars that the drivers are using.  This is helpful to make sure that the driver is using the correct car that they registered.  Our results did match up with our expectations, because we have two cars in the database that are white and the code outputed a count of 2.

Average cost of the items.

In [ ]:
%%sql
SELECT AVG(Cost) from Items;

 * sqlite:///petshop.d
Done.

[(35.980000000000004,)]

This question is important, because it allows the company to know what the average cost of a trip could be.  This allows them to be able to calculate accurate future earnings and can set up expectations for how much every trip should be making.  Our results did match our expectations, because we had 5 values of varying amounts and the average came back correct.

Store names that have "mart" in them

In [ ]:
%%sql
SELECT Count(PaymentType) from Payment WHERE PaymentType = "card";

 * sqlite:///petshop.d
Done.

[(3,)]

This question is important, because the company will be able to know what fraction of the customers are paying with card or cash.  This allows the company to motivate customers who pay with cash to pay with card instead so the driver doesn't have to buy the items.  Our results did meet our expectations, because we had 3 values for card and a count of 3 was returned.

![ER Diagram](https://raw.githubusercontent.com/matthewg1234/Practice/master/Group%20Assignment%202.png)

We did not make any changes to the ER diagram.