<a href="https://colab.research.google.com/github/matthewg1234/Practice/blob/master/Group_Assignment_Final_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Quarantine Deliveries Final Report**
Nate F, Bridget D, Matthew G

##**Introduction**
We picked this project because we wanted to create a company where we could adapt to the ongoing Covid-19 pandemic, and help people with their shopping orders. This would allow for people to be safe in their own homes if they are high risk for the virus. We started this project by having some inspiration from delivery companies like Uber Eats and DoorDash, and making it applicable to the present pandemic situation. We got to our final ER diagram by identifying the key groups of data that we will need to record, each of their components, and how they would all be connected within the database.

##**Final ER Diagram**
![er diagram](https://raw.githubusercontent.com/matthewg1234/Practice/master/Group%20Assignment%202.png)

##**Specifics of ER Diagram**
For our ER Diagram, we had seven tables to hold all of the information about everything that is needed for our company.  The main table that the rest revolved around is the Trip table.  This table has the primary key of TripID.  The table is then connected to the tables: Payment, Customer, Items, and Driver with their primary keys: TransactionID, CustomerID, ItemID, and LicenseID respectively.  The customer table is connected to the address table due to the address being multivalued and its primary key is StreetAddress. A similar situation happened in the Driver table with Car and it has its own table with PlateID being the primary key.

##**2nd Normal Form**
Our ER Diagram is valid in 2nd Normal Form. It is in 2nd Normal Form because it is in 1st Normal Form, and we also do not have any partial dependencies. Since we do not have any composite keys where attributes are dependent on the key, we know that there are no partial dependencies within our diagram. Therefore, our ER diagram is valid in 2nd Normal Form.

## **3rd Normal Form**
Yes, our ER diagram would be valid in 3rd Normal Form. Since our ER diagram is already in 2nd Normal Form, it is on the right track of being in 3rd Normal Form. In addition, our diagram does not contain any transitive dependencies. Because we separated the ‘Car’ and ‘Driver’ entities into 2 tables with unique primary keys, there are no transitive dependencies, therefore making our ER diagram valid  in 3rd Normal Form.

## **Boyce-Codd Normal Form**
Boyce-Codd is a special type of 3rd Normal Form that is more strict and requires it to already be in 3rd Normal Form.  The Diagram is in Boyce-Codd form if every determinant in the table is a candidate key, it has the potential to replace the primary key.  For all the tables in our ER Diagram, the determinants are also candidate keys which would make our ER Diagram fit in this Boyce-Codd form.

##**How we created our database, tables, and inserted data**
We created our database after we loaded in sql and used the sqlite:///petshop.d command to make the database.  The database was called petshop and the “.d” made it a database using the sqlite function.  We made the tables by first doing a check to see if the tables already exist and to delete them if they do.  Then, we made the table using the create table statement and put in the values that were needed to match the ER Diagram.  For inserting data into the table, we used “insert into” and then the table.  In the same statement, we put the values that corresponded with how we made the tables so the values and types matched.

## **Code to create and populate our database**

In [2]:
%load_ext sql 
%sql sqlite:///petshop.d

'Connected: @petshop.d'

In [6]:
%%sql
DROP TABLE IF EXISTS Address; 
create table Address (StreetAddress text PRIMARY KEY, City text, State text, Zipcode integer); 
DROP table IF EXISTS Customer; 
create table Customer (CustomerID text PRIMARY KEY, FirstName text, LastName text, Address text); 
DROP table IF EXISTS Items; 
create table Items (ItemID text PRIMARY KEY, Cost real, StoreName text, Quantity integer); 
DROP table IF EXISTS Trip; 
create table Trip (TripID text PRIMARY KEY, Distance integer, Time integer, Gas integer, TransactionID text, CustomerID text, LicenseID text, ItemID text); 
DROP table IF EXISTS Payment; 
create table Payment (TransactionID text PRIMARY KEY, PaymentType text, CardNumber integer, Tips integer); 
DROP table IF EXISTS Driver; 
create table Driver (LicenseID text PRIMARY KEY, FirstName text, LastName text, Car text, PhoneNumber text); 
DROP table IF EXISTS Car;
create table Car (PlateID text PRIMARY KEY, Model text, Color text, Brand text);

 * sqlite:///petshop.d
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [7]:
%%sql
insert into Trip values("0001", 20, 10, 2, "3842", "1234", "1234678", "3849"); 
insert into Trip values("0002", 10, 5, 1, "2849", "5462", "23456789", "1569"); 
insert into Trip values("0003", 25, 13, 4, "8953", "2562", "29304718", "2483"); 
insert into Trip values("0004", 15, 8, 3, "2942", "8654", "46274829", "7531"); 
insert into Trip values("0005", 15, 7, 3, "9236", "6832", "93526374", "2584"); 
insert into Payment values("3842", "cash", 0, 5); 
insert into Payment values("2849", "card", 9378837283212834, 5); 
insert into Payment values("8953", "card", 2948126383828348, 5); 
insert into Payment values("2942", "cash", 0, 5); 
insert into Payment values("9236", "card", 2389423787823873, 5); 
insert into Items values("3849", 3.89, "Walmart", 5); 
insert into Items values("1569", 32.49, "Target", 1); 
insert into Items values("2493", 83.43, "Sam's Club", 8); 
insert into Items values("7531", 5.86, "Kmart", 1); 
insert into Items values("2584", 54.23, "Costco", 2);
insert into Address values('443 NE. Thorne Dr.', 'Grand Island', 'PA', 68801); 
insert into Address values('9189 Sugar Street', 'Irwin', 'PA', 15642); 
insert into Address values('53 Lilac St.', 'Whitestone', 'PA', 11357); 
insert into Address values('49 Peninsula Court','Corpus Christi', 'PA', 78418); 
insert into Address values('980 South Military St.', 'Bozeman', 'PA', 59715); 
insert into Customer values('1234', 'Matthew', 'Genova', '443 NE. Thorne Dr. Grand Island PA 68801'); 
insert into Customer values('5462', 'Bridget', 'Doherty', '9189 Sugar Street Irwin PA 15642'); 
insert into Customer values('2562', 'Nate', 'Fedornock','53 Lilac St. Whitestone PA 11357'); 
insert into Customer values ('8654', 'Bill', 'Jobs', '49 Peninsula Court Corpus Christi PA 78418'); 
insert into Customer values ('6832', 'Steve', 'Gates', '980 South Military St. Bozeman PA 59715');
insert into Driver values('1234678', 'John', 'Doe', '8080808 Mustang green Ford','123-456-7890'); 
insert into Driver values('23456789', 'Hannah', 'Kern', '1234567 Town & Country silver Chrysler','234-567-8901'); 
insert into Driver values('29304718', 'Jane', 'Smith', '9999999 Corolla white Toyota', '215-394-0394'); 
insert into Driver values('46274829', 'Brittany', 'Deitch', '3627364 Wrangler white Jeep','267-392-4056'); 
insert into Driver values('93526374', 'Noah', 'Morris', '6626374 Pilot navy Honda','610-382-9808'); 
insert into Car values('8080808', 'Mustang', 'green', 'Ford'); 
insert into Car values('1234567', 'Town & Country', 'silver', 'Chrysler'); 
insert into Car values('9999999', 'Corolla', 'white', 'Toyota'); 
insert into Car values('3627364', 'Wrangler', 'white', 'Jeep'); 
insert into Car values('6626374', 'Pilot', 'navy', 'Honda');

 * sqlite:///petshop.d
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

##**Average Customer Experience**
The average user scenario would start off with the user downloading our app, or accessing our website, so they can start an order. They will have access to all of the stores that we offer deliveries from, as well as the items that are offered for purchase. The user will select all of the items that they would like delivered, and enter in their address and their payment information, which would be their credit or debit card information. Then the customer would then set a time for the requested delivery, and wait until the driver arrives. Then once the driver arrives, they will be given their items, and if the user wants, they can tip the driver. The user then can enjoy their items, and order again when they please.

## **3 Queries**
-  For our first query, we used the SQL command, COUNT,  to find how many drivers drive white cars. This question is useful because it helps customers identify the cars that the drivers are using. It can also make sure that the driver is using the correct car that they registered.

In [8]:
	%%sql
SELECT COUNT(color) from Car WHERE color = "white";

 * sqlite:///petshop.d
Done.

[(2,)]

- Our next query utilizes finding the average cost of items. This is important because it allows the company to know what the average cost a trip could be. By knowing the average cost of a trip, it allows companies to accurately calculate future earning and set up expectations on how much every trip should be making.

In [9]:
%%sql
SELECT AVG(Cost) from Items;

 * sqlite:///petshop.d
Done.

[(35.980000000000004,)]

- Our final query is finding payments that have a payment type of “card.” It is important to know which payments use the payment type of a card because the company will be able to know what fraction of the customers are paying with card or cash. This allows the company to motivate their customers to purchase their items with a card rather than cash, so the driver doesn’t have to purchase the items.

In [10]:
%%sql
SELECT Count(PaymentType) from Payment WHERE PaymentType = "card";

 * sqlite:///petshop.d
Done.

[(3,)]